.signup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-image: url('../../assets/social.webp'); */
  background: radial-gradient(50% 50% at 50% 50%, rgb(18, 38, 71) 0%, rgb(9, 14, 35) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}
.signup .signup-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup .signin {
  width: 380px;
  height: 530px;
  margin-top: 40px;
}

.signup .forget-password {
  width: 380px;
  height: 300px;
  margin-top: 40px;
}

.signup .signin .signup-form {
  height: auto;
  box-shadow: var(--boxShadow);
  background-color: white;
  padding: 36px 32px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-image {
  width: 100px !important;
  align-self: center;
}

.signup .signin .signup-form h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  text-align: center;
  color: var(--newPrimary);
}

.signup .signin .signup-form > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #9fa2b4;
}

.signup .signin .signup-form .passLabel-forgotPass {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.signup .signin .signup-form label {
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  color: #676767;
}

.pointer {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  cursor: pointer;
}

.signup .signin .signup-form button {
  width: 100%;
  height: 50px;
  margin: 0 !important;
  border: none;
  font-style: normal;
  background-color: var(--newPrimary);
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 18px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  letter-spacing: 0;
}

.signup .signin .signup-form div .ant-form-item {
  margin-bottom: 0px !important;
}

.signup .signin .signup-form .ant-form-item {
  margin-bottom: 0px !important;
}

.signup .signin .signup-form input {
  height: 42px !important;
  margin: 0px !important;
  border-radius: 5px;
}
::placeholder {
  color: red !important;
  opacity: 1; /* Firefox */
}
.signup .signin .signup-form .ant-input-password {
  padding: 0px 11px !important;
  border-radius: 5px;
}

/* @media (max-width: 770px) {
  .signin,
  .signin-forget .forget-inner,
  .signup {
    width: 0%;
  }
} */
@media (max-width: 550px) {
  /* .signin,
  .signup,
  .signin-forget .forget-inner {
    width: 90%;
  } */
  .signup .signin {
    width: 100%;
  }
}
